*.o
*.out
hellomake
.vscode
human.txt
.txt
human_small.txt
start
Homework1/human_medium.txt
Homework1/homework1.dSYM/Contents/Info.plist
Homework1/homework1.dSYM/Contents/Resources/Relocations/aarch64/homework1.yml
start
Homework1/homework1.dSYM/Contents/Resources/DWARF/homework1
start.dSYM/Contents/Resources/DWARF/start
