*.o
*.out
hellomake
.vscode
human.txt
.txt
human_small.txt
start
Homework1/human_medium.txt
Homework1/homework1.dSYM/Contents/Info.plist
Homework1/homework1.dSYM/Contents/Resources/Relocations/aarch64/homework1.yml
start
Homework1/homework1.dSYM/Contents/Resources/DWARF/homework1
start.dSYM/Contents/Resources/DWARF/start
Homework1/homework1
Homework1/homework1
Homework2/human_demo.txt
Homework2/human_reads_125_32_small.fa
Homework2/human_reads_125_32.fa
Homework2/human_reads_125_32_small.fa
Homework2/homework2
Homework1/homework1
Homework2/Queries_AR.cpp
Homework2/Queries_AR.h
Homework1/homework1
*.fa
*.txt
Homework4/homework4
